.container{
    width: 100%;
    height: 100%;
    background-color: #aeaeae;
    background: url('../images/main.png' ) ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}
.description{
    color: white;
    font-weight: bold;
    padding-top: 6%;
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62%;
    height: 40%;
    margin-top: 65px;
    margin-left: 25%;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 0px 10px 0px  10px;
    
    
}

.description {
    margin-bottom: 40px;
    text-align: center;
}

#btn{
    margin-left: 400px;
    justify-content: space-between;
   display: flex;
}
