.container{
    width: 100%;
    height: 100%;
    background-color: #aeaeae;
    background: url('../images/main.png' ) ;
    background-repeat: no-repeat;
    background-size: cover;
}

/* .nav_bar{
    width: 100%;
} */
.description{
    color: white;
    font-weight: bold;
    margin-top: 20px;
}

.body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 62%;
    height: 40%;
    margin-top: 20px;
    margin-left: 25%;
    background-color: whitesmoke;
    border-radius: 20px;
    padding: 0px 10px 0px 10px;
    
}

.description {
    margin-bottom: 40px;
    text-align: center;
}

#btn{
    margin-left: 400px;
    justify-content: space-between;
   display: flex;
}
