.NavBarItems{
    background-color: skyblue;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}
.logo{
    color: black;
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
    
}
.fa-react{
    margin-left: 0.5rem;
    font-size: 1.6rem;
}
.nav-menu{
    display: flex;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}
.nav-links{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-links:hover{
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.nav-links-btn{
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.nav-links-btn:hover{
    background-color: #6d76f7;
    border-radius: 4px;
    transition: all 0.2s ease-out;
}
.fa-bars{
    color: #fff;
}